.btn {
    width: 150px;
    height: 40px;
    background-color: $col-main;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 250ms;
    &:hover,
    &:active,
    &:focus {
        background-color: darken($col-main, 10%);
    }
}
