.header {
    border-bottom: 1px solid #e6e6e6;
    &--container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        @include media-sm() {
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    &--logo {
        width: 80px;
        flex: 0 0 80px;
    }

    &--nav {
        @include media-sm() {
            flex: 0 1 100%;
            order: 5;
        }
    }
    &--burger {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 30px;
        flex: 0 0 30px;
        span {
            display: block;
            width: 100%;
            height: 4px;
            background-color: #1b1b1b;
            transition: all 100ms;
        }
        &:active,
        &:focus {
            span {
                background-color: $col-main;
            }
        }
    }
}
