.signup {
    background-color: $col-bg1;
    &--container {
        padding: 35px 0;
        max-width: 686px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-lg() {
            max-width: $media-2;
        }
        @include media-md() {
            max-width: $media-3;
            flex-direction: column;
            gap: 15px;
            justify-content: flex-start;
        }
    }

    &--title {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.846px;
    }

    &--body {
        display: flex;
        align-items: center;
        @include media-sm() {
            flex-direction: column;
        }
    }

    &--input {
        width: 250px;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        border: 1px solid #979797;
        background: #fff;
        color: #48555b;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.07px;
        transition: all 250ms;
        &::placeholder {
            color: #48555b;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.07px;
        }
        &:hover,
        &:focus {
            background-color: #ececec;
        }
    }

    &--btn {
        @include media-sm() {
            width: 250px;
        }
    }
}
